<nav class="navbar">
  <a routerLink="/leaderboard" class="nav-link">
    <img src="assets/leaderboard-icon-set-in-black-and-white-filld-and-outlined-style-vector.jpg" alt="Leaderboard" class="nav-icon" />
    <span class="nav-text">Leaderboard</span>
  </a>
  <a routerLink="/" class="nav-link">
    <img src="assets/466cb571841014a5be164d53d0281350.jpg" alt="Play Game" class="nav-icon" />
    <span class="nav-text">Play Game</span>
  </a>
  <a routerLink="/settings" class="nav-link">
    <img src="assets/settings.png" alt="Settings" class="nav-icon" />
    <span class="nav-text">Settings</span>
  </a>
</nav>

